.titulo-centralizado {
    text-align: center;
}

.entrar-button {
    background-color: beige;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}