.titulo-centralizado {
    text-align: center;
    padding:  0px 25px;
    padding-bottom: 40px;

}

.entrar-button {
    background-color: beige;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
    padding-bottom: 70px;
    background-color: lightblue;
    border-radius: 15px;
}

.body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}